<div id="ft-container">
	<div id="ft-wrap">
		<p class="ft-text">Hayes Energy Services | 4055 Steele Station Road | Rainbow City, AL 35906</p>
		<div style="text-align:right;">
			<p class="ft-text">Site design by <%= link_to "WebDSquared", "http://webdsquared.com", :target => "_blank", :class => "webd2" %>
		</div>
	</div>
	
</div>