<% content_for :title do %>Contact<% end %>
<div id="sec-container">
	<div id="sec-wrap">
		<div id="sec-main">
			<div id="sec-pg-hdr">
				<h2><%= yield(:title)%></h2>
			</div>
			<p class="pg-text">Hayes Energy Services<br>
				145 Sandy Shores Lane<br>
				Rainbow City, AL 35906</p>
				<p class="pg-text">Steve Parks, Executive VP Business Development<br>
					Email: <a class="recent-news" href="mailto:steve@hayesenergy.com">steve@hayesenergy.com</a><br>
					Phone: 205.410.4038</p>
					
					
			
			<br>
			<br>
		</div>
		<div id="sec-side">
			<%= render "partials/side" %>
		</div>
	</div>
</div>