<% content_for :title do %>Services<% end %>
<div id="sec-container">
	<div id="sec-wrap">
		<div id="sec-main">
			<div id="sec-pg-hdr">
				<h2><%= yield(:title)%></h2>
			</div>
			<p class="pg-text">Hayes Energy Services improves the overall efficiency of a hospital's central plant while minimizing the competition between its heating and cooling systems, ultimately saving them money on their gas and electric bills.</p>
			<p class="pg-text">How do we do it?</p>
			<p class="pg-text"><b><span style="color:#8cc041;">Step 1 - Establish A Facility's Baseline</span></b></p>
			<p class="pg-text">One can't accurately identify a facility's energy savings simply by comparing last year's energy usage to this year's. Factors such as weather may have had a more dramatic impact one year when being compared to the next. For example, 2008 may have had a hotter summer than 2009. A hotter summer would translate into higher air conditioning loads, which typically results in higher utility bills.</p>
			<p class="pg-text">Therefore, we collect 12 months of daily gas and electric consumption for a given facility and match that utility consumption data with the average daily temperature for each day in the model period. By matching historical consumption to average daily temperature we can project what a facility historically would have consumed at any given temperature.</p>
			<p class="pg-text">So, instead of comparing last year's usage to the year's usage, our software factors in the weather data so that we can compare how much energy a respective facility would have used this year to how much energy it did use this year.</p>
			<p class="pg-text"><b><span style="color:#8cc041;">Step 2 - Energy Conservation Recommendations</span></b></p>
			<p class="pg-text">Once the baseline is established, our regional field engineer will survey a facilities central plant in order to make energy conservation recommendations that help reduce overall consumption without affecting patient comfort of humidity control.</p>
			<p class="pg-text">These recommendations vary based on the HVAC make up of each facility. Sample recommendations include adjustments to discharge temperatures, on air handler systems, hot and chilled water temperatures on air conditioning units, identifying bad steam traps, and enhancing boiler efficiency.</p>
			<p class="pg-text"><b><span style="color:#8cc041;">Step 3 - Daily Meter Readings</span></b></p>
			<p class="pg-text">As opposed to waiting for a monthly utility bill in order to assess a hospital's energy consumption, we provide daily feedback and savings reports, which illustrate the bottom-line impact of our energy conservations recommendations.</p>
			<p class="pg-text">Once we receive a daily fas and electric meter reading from your staff, we provide trend analysis reports, which depict the amount of energy savings generated from our energy conservation recommendations.</p>
			<p class="pg-text">How can you start saving money?</p>
			<ol>
				<li>Give us a copy of a facility's recent gas and electric bills.</li>
				<li>Schedule a central plant survey with one of our field engineers.</li>
				<li>Report daily gas and electric readings</li>
			</ol>
			<p class="pg-text">Advantages of working with Hayes Energy:</p>
			<ul>
				<li>You only pay if you save</li>
				<li>No capital investment required</li>
				<li>Clients average 5 to 1 return or greater</li>
				<li>No long commitment necessary</li>
				<li>Very little added to your "To Do" list</li>
			</ul>
			<p class="pg-text">Give us a call to find our how we might be able to help cut your energy costs and save you money.</p><br><br>
		</div>
		<div id="sec-side">
			<%= render "partials/side" %>
		</div>
	</div>
</div>